build
include
lib

test/build
test/exe
test/data

thirdParty/DBow3/build
thirdParty/DBow3/install

thirdParty/eigen/build
thirdParty/eigen/install

thirdParty/g2o/bin
thirdParty/g2o/build
thirdParty/g2o/lib
thirdParty/g2o/install

thirdParty/Pangolin/build
thirdParty/Pangolin/install
